<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="superp.techpark.ru.lesson3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity"/>
        <activity android:name=".fragment_part.activity.LayoutFragmentActivity" />
        <activity android:name=".fragment_part.activity.DynamicFragmentActivity" />
        <activity android:name=".fragment_part.activity.DynamicFragmentFixedActivity" />
        <activity android:name=".fragment_part.activity.MultiActionActivity" />
        <activity android:name=".fragment_part.activity.TransactionActivityByTag" />
        <activity android:name=".fragment_part.activity.TransactionActivityById" />
        <activity android:name=".fragment_part.activity.StateLossActivity" />
        <activity android:name=".fragment_part.activity.CooperationActivity" />
    </application>
</manifest>
